body
{
    background: url("Background.jpg") no-repeat center center fixed;
    background-size: cover;
    user-select: none;
}
.logo
{
    background-color: blue;
    border: 3px solid rgb(0, 172, 240);
    height: 81px;
    width: initial;
    cursor: pointer;
    margin-top: 0;
}
.title
{
    display: inline;
}
.logo:hover
{
    cursor: pointer;
    box-shadow: 0px 0px 30px rgb(0, 172, 240);
}
.icons
{
    width: 50px;
    height: 50px;
    float: right;
    background-color: white;
    border: 2px solid blue;
    margin-right: 20px;
    transition: transform 0.2s;
}
.icons:hover
{
    -webkit-transform: rotateY(25deg);
    transform: rotateY(25deg);
    cursor: pointer;
}
.header
{
    position: relative;
    background: linear-gradient(to left,rgb(0, 172, 240),blue);
    border-top: 3px solid rgb(0, 172, 240);
    border-bottom: 3px solid rgb(0, 172, 240);
    margin-top: 5px;
    box-shadow: 0px 0px 30px blue;
}
.navbar-nav
{
    margin-left:  3px;
}
.nav-item:hover
{
    animation: blink 0.3s ease 1;
}
.nav_style
{
    z-index: 1;
    content: "";
    position: relative;
    height: 100%;
    width: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(0, 172, 240);
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(20deg);
}
.dropdown 
{
    position: relative;
    display: inline-block;
    margin-top: 8px;
    cursor: pointer;
    color: lightsteelblue;
}
.dropdown-content-news
{
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: rgb(0, 172, 240);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown-content-news a
{
    text-decoration: none;
    color: white;
}
.dropdown:hover .dropdown-content-news 
{
    display: block;
}
.header_icons
{
    width: 20px;
    height: 20px;
}
.main
{
    background-color: rgba(0, 0, 0, 0.801);
}
.each_row
{
    margin-top: 10px;
}
.each_col
{
    margin-top: 10px;
}
.table_head
{
    background-color: rgb(6, 176, 233);
}
.table_topic
{
    font-style: italic;
    font-size: 20px;
}
.table_row1
{
    background-color: rgba(0, 172, 240, 0.856);
}
.table_row2
{
    background-color: rgba(173, 216, 230, 0.856);
}
@keyframes headerbutton
{
    0%
    {
        box-shadow: 0 0 rgb(0, 172, 240);
    }
    100%
    {
        box-shadow: 0 0 10px 20px transparent;
    }
}
@keyframes header
{
    0%
    {
        background-color: rgb(0, 172, 240);
    }
    50%
    {
        background-color: blue;
    }
    100%
    {
        background-color: rgb(0, 172, 240);
    }
}
@keyframes blink
{
    0%
    {
        opacity: 100%;
        margin-top: 0;
    }
    50%
    {
        opacity: 0;
        margin-top: -5px;
    }
    100%
    {
        opacity: 100%;
        margin-top: 0;
    }
}
@media screen and (max-width: 700px)
{
    .logo
    {
        height: 50px;
        width: 40px;
    }
    .title
    {
        height: 50px;
        width: 250px;
    }
    .header a
    {
        float: none;
        display: block;
        text-align: center;
    }
    .community
    {
        display: none;
    }
}